root = true

# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017#example-editorconfig-file

[*.cs]
# spaces over tabs, yo
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
# we like braces
csharp_prefer_braces = true:suggestion
# some spacing questions
csharp_space_between_method_declaration_name_and_open_parenthesis  = true
csharp_space_between_method_call_name_and_opening_parenthesis = false
# fewer newlines for more vertical economy
csharp_new_line_before_open_brace = types
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
# allow for single line blocks
csharp_preserve_single_line_blocks = true
